* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}


.header {
    background: #222222;
    height: 75px;

}

.menu {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 16px;
    align-items: center;
}

.header i {
    color: #E8E8E8;
}

.searchIcon {
    margin-left: 41px;
}

.cartLogo__wrap,
.userLogo {
    display: none;
}

.cartLogo__wrap {
    position: relative;
}

.cartLogo__wrap span {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    background: #F16D7F;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    text-align: center;
    right: -10px;
    top: -20px;


}

@media(min-width: 768px) {
    .menu {
        padding: 18px 32px;

    }

    .cartLogo__wrap,
    .userLogo {
        display: inline;
    }

    .userLogo {
        margin-left: 25px;
        margin-right: 42px;
    }


}

@media(min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

.main {
    min-height: 363px;
}


.mainRight {
    background: #F1E4E6;
    min-height: 363px;
    /* min-height: inherit;  наследует свойство родителя, т.е. main   */
    display: flex;
    justify-content: center;
    align-items: center;



}

.mainText {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    color: #222222;

}

.text_theBrand {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
}

.text_luxerious {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

}

.text_fashion {
    color: #F16D7F;
}

.mainLeft img {
    display: none;
}

@media(min-width: 768px) {
    .main {
        display: flex;
    }

    .main>div {
        width: 50%;
    }

    .mainLeft img {
        display: block;
        width: 100%;

    }
}

@media(min-width: 1600px) {
    .mainRight {
        justify-content: flex-start;

    }

    .mainText {
        margin-left: 64px;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    grid-row-gap: 32px;
    padding: 64px 16px;

}

.card img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;

}

.card>div {
    position: relative;
}

.text_card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

}

.text_bot {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F
}

@media(min-width: 768px) {
    .card {
        padding-top: 19px;
        grid-template-columns: repeat(3, 1fr);
        gap: 19px;
        grid-template-rows: 167px 116px;


    }

    .card_accesories {
        grid-column: 1/-1;

    }


}