.b-progLoyality {
    @media(min-width: 768px) {
        width: 354px;
        flex-grow: 1;
    }

    @media(min-width: 1170px) {
        width: 654px;
    }

}

.b-progLoyality__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    display: flex;

}

.b-progLoyality_margin {
    margin: 40px 9px 100px;

    @media(min-width: 768px) {
        margin: 0;
        margin-top: 40px;
        margin-right: 16px;
    }

    @media(min-width: 1170px) {
        margin: 0;
        margin-top: 64px;
    }
}

.headerLoyality {
    margin-bottom: 32px;

}

.paragraphLoyality {
    margin-bottom: 22px;
}

.b-progLoyality__checkMark_paddingRight {
    padding-right: 23px;
}

.b-progLoyality__line {
    display: block;
}

.b-progLoyality__text_paddingBot:not(:last-child) {
    padding-bottom: 16px;
}