// ТЕкст после полей ввода

.b-formReg__textAfter {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.b-formReg__textAfter_margin {
    margin-top: 16px;
    margin-bottom: 39px;
}